[class^="c-btn"] {
  border: $website-border;
  padding: .5em 1.5em;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s;
  text-decoration: none;
  letter-spacing: 0.5px;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

.c-btn {
  &-cta {
    background-color: $body-color;
    border-color: $body-color;
    color: $body-bg;

    &:hover {
      box-shadow: inset 0 0 0 .1em $body-bg;
    }
  }

  &-alt {
    &:hover {
      box-shadow: inset 0 0 0 .1em $body-color;
    }
  }
}