
.c-container {
  position: relative;
  margin: 0 auto;
  max-width: $container-width;
  width: 100%;
  padding-left: $grid-gutter-size;
  padding-right: $grid-gutter-size;
}

.c-section {
  padding-bottom: $section-padding;
  padding-top: $section-padding;

  // &+& {
  //   padding-top: $section-padding;
  // }
}

.c-main {
  @include grid-col(3/4);
}
.c-sidebar {
  @include grid-col(1/4);
  background-color: $bg-link;
  @include media-bp(desktop) {
    min-height: 100vh;
  }
}


.c-row {
  @include grid-row;

  &--center {
    justify-content: center;
  }
  &--end {
    justify-content: flex-end;
  }

  &--padding {
    &-1 {
      &+& {
        padding-top: $grid-gutter-size;
      }
    }
    &-2 {
      &+& {
        padding-top: $grid-gutter-size*2;
      }
    }
    &-3 {
      &+& {
        padding-top: $grid-gutter-size*3;
      }
    }
  }
}

$cols: 6;
@for $i from 1 through $cols - 1 {
  @for $j from 1 through $cols {
    @if ($i and $j == 1) {
      .c-col {
        @include grid-col;
      }
    } @else if ($i < $j ) {
      .c-col-#{$i}-#{$j} {
        @include grid-col(#{$i}/#{$j});
      }
    }
  }
}