.c-card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-radius: $website-border-radius;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba($brand-primary,.3);
  transition: box-shadow .2s;

  &:hover {
    box-shadow: 0 5px 15px 5px rgba($brand-primary,.3);
  }

  section {
    padding: 1rem;
    // background-color: $body-bg;
    
    &>*:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  footer {
    padding: 1rem;
    background-color: $bg-link;
    text-transform: uppercase;
    font-size: .8rem;

    &>*:last-child {
      margin-bottom: 0;
    }
  }

}