.c-nav {
  &-v {
    padding: 0 4vw;

    @include media-bp(mobile) {
      position: fixed;
      left: -100vw;
      top: 0;
      background-color: white;
      height: 100vh;
      width: 100vw;
      z-index: 1;
      transition: left .2s;
      padding-top: 2rem;

      &:active,
      &:focus {
        left: 0;
      }
    }
    
    &__toggle,
    &__close {
      @include media-bp(mobile) {
        position: fixed;
        right: 0;
        top: 0;
        height: 2rem;
        margin: $grid-gutter-size;
        padding: .2rem;
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
      }
    }

    &__toggle {

    }
    &__close {
      display: none;
      border: none;
      width: 2rem;

      *:focus & {
        @include media-bp(mobile) {
          display: block;
        }
      }
    }

    ul {
      list-style: none;
      padding: 0;

      a {
        position: relative;
        z-index: 1;
        &:after {
          content: "";
          position: absolute;
          height: 1.5em;
          // height: .15em;
          width: 0;
          left: -.5em;
          transition: all .2s;
          z-index: -1;
        }
        &:hover {
          &:after {
            background-color: $bg-link-hover;
            width: calc(100% + 1em);
          right: 0;
          }
        }
      }

    }
    li {
      font-weight: bolder;
      ul {
        margin: .5rem .5rem 1rem;
      }
      li {
        font-weight: lighter;
        ul {
          display: none;
        }
        &:hover ul,
        &.is-current ul {
          display: block;
        }
      }
    }
  }
}